<div class="title-con position-relative" mat-dialog-title>
  <div>
    <button class="btn_download_pdf" (click)="downloadVisitSummary()" data-test-id="btnDownload"><mat-icon class="align-middle">download</mat-icon><span>{{ 'Download' | translate}}</span></button>
  </div>
  <h6>{{'Visit summary'|translate}}</h6>
  <div class="close-btn-con">
    <button class="modal-close-btn desktop-close-btn" (click)="close(false)" data-test-id="btnClose"><img src="assets/svgs/CloseX.svg" alt=""></button>
    <button class="modal-close-btn mobile-close-btn" (click)="close(false)" data-test-id="btnClose"><img src="assets/svgs/Close-icon.svg" alt=""></button>
  </div>
</div>
<mat-dialog-content>
  <div class="main-content">
    <div class="container-fluid">
      <div class="rows patient-info-wrapper">
        <div class="col-md-3 patient-info-section p-3" *ngIf="patient">
          <div class="patient-img-item mb-2">
            <!-- <div class="patient-img">
              <img
                src="{{ baseUrl + '/personimage/' + patient?.person.uuid }}"

                alt=""
                width="100%"
                height="100%"
              />
            </div> -->
            <div class="ml-3">
              <h6 class="text-wrap">
                <span>{{ patient?.person?.names[0]?.givenName }}</span>
                <span *ngIf="patient?.person?.names[0]?.middleName">{{ ' ' + patient?.person?.names[0]?.middleName }}</span>
                <span>{{ ' ' + patient?.person?.names[0]?.familyName }}</span>
                <span>{{ " (" + (patient?.person.gender | translate) + ") "}}</span>
              </h6>
              <p>{{ getPatientIdentifier("OpenMRS ID") }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 patient-info-section p-3">
          <div class="patient-info-item mb-3">
            <h6 data-test-id="etPatientAge">{{'Age'|translate}}</h6>
            <p data-test-id="etPatient">{{ patient?.person.birthdate ? getAge(patient?.person.birthdate) : patient?.person.age + ' years'  }}</p>
          </div>
        </div>

        <div class="col-md-3 patient-info-section p-3">
          <div class="patient-info-item mb-3">
            <h6 data-test-id="etPatientAge">{{'Date of Birth'|translate}}</h6>
            <p data-test-id="etPatient">{{ patient?.person.birthdate | date : "dd MMM, yyyy" }}</p>
          </div>
        </div>

        <div class="col-md-3 patient-info-section p-3">
          <div class="patient-info-item">
            <h6 data-test-id="etPatient">{{'Contact no.'| translate}}</h6>
            <p data-test-id="etWhatsApp" *ngIf="getSevikasPhoneNo('phoneNumber') === 'NA'">
               {{ getPersonAttributeValue("Telephone Number") }}
            </p>
            <p data-test-id="etPhoneNumber" *ngIf="getSevikasPhoneNo('phoneNumber') !== 'NA'">
              {{ getPersonAttributeValue("Telephone Number") }}
              <a
                href="tel:{{ getSevikasPhoneNo('phoneNumber') }}"
                target="_blank"
                class="icon-btn"
                data-test-id="linkPhoneNumber"
              >
                <img src="assets/svgs/phone-circle.svg" alt="" />
              </a>
              <a
                href="{{ getSevikasLink() }}"
                target="_blank"
                class="icon-btn"
                data-test-id="linkWhatsApp"
              >
                <img src="assets/svgs/whatsapp-icon.svg" alt="" />
              </a>
            </p>
          </div>
        </div>
        <mat-tab-group class="col-md-12 patient-tab-group" mat-align-tabs="start">
          <mat-tab label="{{'Address'| translate}}">
            <div class="rows patient-info-wrapper">
              <div class="col-md-2 patient-info-section p-3">
                <div class="patient-info-item mb-3">
                  <h6 data-test-id="etPatient">{{'Country' | translate}}</h6>
                  <p data-test-id="etPatient">{{ patient?.person?.preferredAddress?.country }}</p>
                </div>
              </div>

              <div class="col-md-2 patient-info-section p-3">
                <div class="patient-info-item mb-3">
                  <h6 data-test-id="etPatient">{{'State' | translate}}</h6>
                  <p data-test-id="etPatient">{{ patient?.person.preferredAddress.stateProvince }}</p>
                </div>
              </div>

              <div class="col-md-2 patient-info-section p-3">
                <div class="patient-info-item mb-3">
                  <h6 data-test-id="etPatient">{{'District' | translate}}</h6>
                  <p data-test-id="etPatient">{{ patient?.person.preferredAddress.countyDistrict }}</p>
                </div>
              </div>
              
              <div class="col-md-2 patient-info-section p-3">
                <div class="patient-info-item mb-3">
                  <h6 data-test-id="etPatient">{{'Sanch' | translate}}</h6>
                  <p data-test-id="etPatient">{{ patient?.person.preferredAddress.sanch}}</p>
                </div>
              </div>
              
              <div class="col-md-2 patient-info-section p-3">
                <div class="patient-info-item mb-3">
                  <h6 data-test-id="etPatient">{{'Village' | translate}}</h6>
                  <p data-test-id="etPatient">{{ patient?.person.preferredAddress.cityVillage }}</p>
                </div>
              </div>
            </div>
          </mat-tab>

          <!-- <mat-tab label="{{'Other' | translate}}">
            <div class="rows patient-info-wrapper">
              <div class="col-md-3 patient-info-section p-3">
                <div class="patient-info-item mb-3">
                  <h6 data-test-id="etPatient">{{'Occupation' | translate}}</h6>
                  <p data-test-id="etPatient">{{ getPersonAttributeValue('occupation') }}</p>
                </div>
              </div>

              <div class="col-md-3 patient-info-section p-3">
                <div class="patient-info-item mb-3">
                  <h6 data-test-id="etPatient">{{'Education' | translate}}</h6>
                  <p data-test-id="etPatient">{{ getPersonAttributeValue('Education Level') }}</p>
                </div>
              </div>

               <div class="col-md-3 patient-info-section p-3" *ngIf="getPersonAttributeValue('NationalID') !== 'NA'">
                <div class="patient-info-item mb-3">
                  <h6 data-test-id="etPatient">{{'National ID' | translate}}</h6>
                  <p data-test-id="etPatient">{{ getPersonAttributeValue('NationalID') }}</p>
                </div>
              </div>

              <div class="col-md-3 patient-info-section p-3" *ngIf="getPersonAttributeValue('Economic Status') !== 'NA'">
                <div class="patient-info-item mb-3">
                  <h6 data-test-id="etPatient">{{'Economic Category' | translate}}</h6>
                  <p data-test-id="etPatient">{{ getPersonAttributeValue('Economic Status') }}</p>
                </div>
              </div>
            </div>
          </mat-tab> -->
        </mat-tab-group>
      </div>
      <div class="row">
        <div class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/consultation-details.svg" alt="">
              <h6>{{'Consultation details'|translate}}</h6>
            </div>
            <div class="data-section-content">
              <ul class="items-list">
                <li>
                  <div class="list-item">
                    <label>{{'Visit ID'|translate}}</label>
                    <div class="list-item-content">
                      {{(visit?.uuid)?(replaceWithStar(visit?.uuid)|uppercase):''}}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Visit Created'|translate}}</label>
                    <div class="list-item-content">
                      {{visit?.startDatetime|date: 'dd MMM, yyyy'}}
                    </div>
                  </div>
                </li>
                <li [hidden]="isNcdSevikaVisit">
                  <div class="list-item">
                    <label>{{'Appointment on'|translate}}</label>
                    <div class="list-item-content">
                      <span class="text-muted">{{'No appointment'|translate}}</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Status'|translate}}</label>
                    <div class="list-item-content">
                      <span [ngClass]="{ 'text-important-red': visitStatus == 'Priority Visit', 'text-important-green': ['Awaiting Visit', 'In-progress Visit', 'Completed Visit', 'Ended Visit'].indexOf(visitStatus) != -1 }">{{(visitStatus)|translate}}</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Location'|translate}}</label>
                    <div class="list-item-content">
                      {{clinicName|titlecase}}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Provided by'|translate}}</label>
                    <div class="list-item-content">
                      <div class="visit-provider-con">
                        <span>{{providerName}}</span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div [hidden]="isNcdSevikaVisit" class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/vitals.svg" alt="">
              <h6>{{'Vitals'|translate}}</h6>
            </div>
            <div class="data-section-content">
              <ul class="items-list">
                <li>
                  <div class="list-item">
                    <label>{{'Height (ft)'|translate}}</label>
                    <div class="list-item-content" [class.text-muted]="!getObsValue('Height (cm)')">
                      {{(getObsValue('Height (cm)'))? toFeet(getObsValue('Height (cm)')):'No information' | translate}}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Weight (kg)'|translate}}</label>
                    <div class="list-item-content" [class.text-muted]="!getObsValue('Weight (kg)')">
                      {{(getObsValue('Weight (kg)'))?getObsValue('Weight (kg)'):'No information' | translate}}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'BMI'|translate}}</label>
                    <div class="list-item-content" [class.text-muted]="!getObsValue('Height (cm)') || !getObsValue('Weight (kg)')">
                      <span *ngIf="getObsValue('Height (cm)') && getObsValue('Weight (kg)')">
                        <span [style.color]="getBmiColor(getObsValue('Weight (kg)') / ((getObsValue('Height (cm)') / 100) * (getObsValue('Height (cm)') / 100)))">
                          {{
                            (getObsValue("Weight (kg)") /
                              ((getObsValue("Height (cm)") / 100) *
                                (getObsValue("Height (cm)") / 100))
                            | number : "1.2-2")
                          }}
                        </span>
                      </span>
                      <span *ngIf="!getObsValue('Height (cm)') || !getObsValue('Weight (kg)')">
                        {{'No information'|translate}} </span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'BP'|translate}}</label>
                    <div class="list-item-content" [class.text-muted]="!getObsValue('SYSTOLIC BLOOD PRESSURE')">
                      <span *ngIf="getObsValue('SYSTOLIC BLOOD PRESSURE')">
                        <span [style.color]="getSystolicColor(getObsValue('SYSTOLIC BLOOD PRESSURE'))">
                          {{ getObsValue("SYSTOLIC BLOOD PRESSURE") }}
                      </span> /
                        <span [style.color]="getDSystolicColor(getObsValue('DIASTOLIC BLOOD PRESSURE'))">
                          {{ getObsValue("DIASTOLIC BLOOD PRESSURE") }}
                        </span> 
                    </span>
                    <span *ngIf="!getObsValue('SYSTOLIC BLOOD PRESSURE')">
                      {{'No information'|translate}} </span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Pulse'|translate}}</label>
                    <div class="list-item-content" [class.text-muted]="!getObsValue('Pulse')">
                      {{(getObsValue('Pulse'))?getObsValue('Pulse'):'No information' | translate}}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Temperature (F)'|translate}}</label>
                    <div class="list-item-content" [class.text-muted]="!getObsValue('TEMPERATURE (C)')">
                      {{(getObsValue('TEMPERATURE (C)'))?(((getObsValue('TEMPERATURE (C)')* 9/5)+32)|number:'0.2-2'):'No information' | translate}}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'SpO2'|translate}} (%)</label>
                    <div class="list-item-content" [class.text-muted]="!getObsValue('BLOOD OXYGEN SATURATION')">
                      {{(getObsValue('BLOOD OXYGEN SATURATION'))?getObsValue('BLOOD OXYGEN SATURATION'):'No information' | translate}}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Respiratory Rate'|translate}}</label>
                    <div class="list-item-content" [class.text-muted]="!getObsValue('Respiratory rate')">
                      {{(getObsValue('Respiratory rate'))?getObsValue('Respiratory rate'):'No information' | translate}}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Hemoglobin'|translate}}</label>
                    <div class="list-item-content" [class.text-muted]="!getObsValue('HGB')">
                      {{(getObsValue('HGB'))?getObsValue('HGB'):'No information' | translate}}
                    </div>
                  </div>
                </li>
                <!-- <li>
                  <div class="list-item">
                    <label>{{'Sugar Level(Fasting)'|translate}}</label>
                    <div class="list-item-content" [class.text-muted]="!getObsValue('sugar fasting')">
                      {{(getObsValue('sugar fasting'))?getObsValue('sugar fasting'):'No information' | translate}}
                    </div>
                  </div>
                </li> -->
                <li>
                  <div class="list-item">
                    <label>{{'Sugar Level - Random'|translate}}</label>
                    <div class="list-item-content" [class.text-muted]="!getObsValue('sugar random')">
                      {{(getObsValue('sugar random'))?getObsValue('sugar random'):'No information' | translate}}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Blood group'|translate}}</label>
                    <div class="list-item-content" [class.text-muted]="!getObsValue('Blood group') && !getObsValue('BLOOD TYPING')">
                      {{(getObsValue('Blood group') || getObsValue("BLOOD TYPING") )
                      ?(getObsValue('Blood group') || getObsValue("BLOOD TYPING")?.display):'No information' | translate}}
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/check-up-reason.svg" alt="">
              <h6>{{'Check-up reason'|translate}}</h6>
            </div>
            <div class="data-section-content">
              <div class="cheif-complaint-wrapper">
                <h6>{{'Chief complaint'|translate}}</h6>
                <div class="complaint-chips">
                  <div class="chip-item" *ngFor="let c of cheifComplaints;">
                    {{c}}
                  </div>
                </div>
                <div class="check-up-reason-con">
                  <ng-container *ngFor="let ckr of checkUpReasonData;">
                    <ng-container *ngIf="ckr.title != 'Associated symptoms'">
                      <h6 class="my-3">{{ckr.title}}</h6>
                      <ul class="items-list pt-0">
                        <li *ngFor="let ckri of ckr.data">
                          <div class="list-item">
                            <label>{{ckri.key}}</label>
                            <div class="list-item-content" [class.text-muted]="!ckri.value">
                              {{(ckri.value)?ckri.value:'None'}}
                            </div>
                          </div>
                        </li>
                      </ul>
                    </ng-container>
                    <ng-container *ngIf="ckr.title == 'Associated symptoms'">
                      <h6 class="my-3">{{ckr.title}}</h6>
                      <ul class="items-list pt-0">
                        <li *ngFor="let ckri of ckr.data">
                          <div class="list-item-col">
                            <label>{{ckri.key}}</label>
                            <div class="list-item-content" [class.text-muted]="!ckri.value">
                              {{(ckri.value)?ckri.value:'None'|translate}}
                            </div>
                          </div>
                        </li>
                      </ul>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div [hidden]="isNcdSevikaVisit" class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/physical-examination.svg" alt="">
              <h6>{{'Physical examination'|translate}}</h6>
            </div>
            <div class="data-section-content">
              <ng-container *ngFor="let pe of physicalExaminationData">
                <div class="cheif-complaint-wrapper">
                  <ng-container *ngIf="pe.title != 'Abdomen'">
                    <h6 class="my-3" [attr.data-test-id]="'etTitle'+pe.title.slice(0,3)+'PhysicalExam'">{{ pe.title }}</h6>
                    <ul class="items-list pt-0">
                      <li *ngFor="let pei of pe.data">
                        <div class="list-item">
                          <label [attr.data-test-id]="'etKey'+pei.key.slice(0,3)+'PhysicalExam'">{{ pei.key }}</label>
                          <div
                            class="list-item-content"
                            [class.text-muted]="!pei.value"
                            [attr.data-test-id]="'etValue'+pei.value.slice(0,2).trim()+'PhysicalExam'"
                          >
                            {{ pei.value ? pei.value : ('None'|translate) }}
                          </div>
                        </div>
                      </li>
                      <li *ngIf="getImagesBySection(pe.title).length">
                        <div class="list-item">
                          <label [attr.data-test-id]="'etEyeImgPhysicalExam'">{{'Pictures'|translate}}</label>
                          <div class="list-item-content">
                            <div class="eye-images-con">
                              <div
                                class="eye-item"
                                *ngFor="let e of getImagesBySection(pe.title); let x = index"
                              >
                                <img style="width: 50px;height: 50px" [src]="e.src" alt="" [attr.data-test-id]="'etImage'+x+'PhysicalExam'"/>
                                <div
                                  class="cover"
                                  (click)="previewEyeImages(x,pe.title)"
                                  [attr.data-test-id]="'etValue'+x+'PhysicalExam'"
                                >
                                  <img
                                    src="assets/svgs/maximize.svg"
                                    alt=""
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </ng-container>
                  <ng-container *ngIf="pe.title == 'Abdomen'">
                    <h6 class="my-3" [attr.data-test-id]="'etTitle'+pe.title.slice(0,3)+'PhysicalExam'">{{ pe.title }}</h6>
                    <ul class="items-list pt-0">
                      <li *ngFor="let pei of pe.data">
                        <div class="list-item">
                          <label [attr.data-test-id]="'etKey'+pei.key.slice(0,3)+'PhysicalExam'">{{ pei.key }}</label>
                        </div>
                      </li>
                      <li *ngIf="getImagesBySection(pe.title).length">
                        <div class="list-item">
                          <label [attr.data-test-id]="'etEyeImgPhysicalExam'">{{'Pictures'|translate}}</label>
                          <div class="list-item-content">
                            <div class="eye-images-con">
                              <div
                                class="eye-item"
                                *ngFor="let e of getImagesBySection(pe.title); let x = index"
                              >
                                <img style="width: 50px;height: 50px" [src]="e.src" alt="" [attr.data-test-id]="'etImage'+x+'PhysicalExam'"/>
                                <div
                                  class="cover"
                                  (click)="previewEyeImages(x,pe.title)"
                                  [attr.data-test-id]="'etValue'+x+'PhysicalExam'"
                                >
                                  <img
                                    src="assets/svgs/maximize.svg"
                                    alt=""
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div [hidden]="isNcdSevikaVisit" class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/medical-history.svg" alt="">
              <h6>{{'Medical history'|translate}}</h6>
            </div>
            <div class="data-section-content">
              <ng-container *ngFor="let ph of patientHistoryData">
                <div class="cheif-complaint-wrapper">
                  <h6 class="my-3" [attr.data-test-id]="'etTitle'+ph.title.slice(0,3)+'Medicalhis'">{{ ph.title }}</h6>
                  <ul class="items-list pt-0">
                    <li *ngFor="let phi of ph.data; let x = index">
                      <div class="list-item">
                        <label [attr.data-test-id]="'etKey'+phi.key.slice(0,3)+'Medicalhis'">{{ phi.key }}</label>
                        <div
                          class="list-item-content"
                          [class.text-muted]="!phi.value"
                          [attr.data-test-id]="'etValue'+x+'Medicalhis'"
                        >
                          {{ phi.value ? phi.value : ('None'|translate) }}
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </ng-container>
            </div>
          </div>
        </div>

        <div  [hidden]="isNcdSevikaVisit" class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/additional-documents.svg" alt="">
              <h6>{{'Additional documents'|translate}}</h6>
            </div>
            <div class="data-section-content">
              <ng-container *ngIf="additionalDocs.length; else noAdditionaDocs;">
                <div class="additional-doc-container">
                  <div class="doc-item" *ngFor="let d of additionalDocs;let x=index;">
                    <img [src]="d.src" alt="">
                    <div class="cover" (click)="previewDocImages(x)">
                      <img src="assets/svgs/maximize.svg" alt="">
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-template #noAdditionaDocs>
                <div class="no-docs">
                {{'No additional docs available!' |translate}}
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
