.translation-wrapper {
  position: relative;
  display: inline-block;
  /* keeps label tied to box width */
  width: 100%;
}

/* Label floats above top-left */
.translation-label {
  position: absolute;
  top: -24px;
  left: 10px;
  background: #EBFCF6;
  border: 1px solid #C7EBF5;
  border-radius: 7px;
  border-bottom: none;
  padding: 5px 8px 0 8px;
  font-weight: 400;
  font-size: 12px;
  color: #727272;
}

/* Green box */
.translation-box {
  background: #EBFCF6;
  border: 0.77px solid #C7EBF5;
  border-radius: 8px;
  min-height: 80px;
}

.translation-content {
  font-size: 16px;
  padding-left: 17px;
  padding-top: 17px;
  width: 85%;
  word-wrap: break-word;
}

.extra-padding {
 padding-top: 25px;
}

.low-width {
  width: 80%;
  max-height: 55px;
  overflow-y: auto;
  overflow-x: hidden;
}

.translation-content::-webkit-scrollbar {
  width: 6px;
  /* width of vertical scrollbar */
}

.green {
  color: #4FA459A1;
}

.gray {
  color: #A9A9A9;
}

.translatedTextarea {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  /* let parent background show */
  resize: none;
  /* 🔹 disable resize handle */
  overflow: hidden;
  /* 🔹 hides any scrollbars */
  color: #4FA459A1;
  word-wrap: break-word;
  font-size: 16px;
}

.approve-btn,
.reject-btn,
.retry-btn {
  background: transparent;
  border: none;
  color: #555;
  font-size: 18px;
  cursor: pointer;
}

.button-group {
  position: absolute;
  bottom: 8px;
  right: 10px;
  display: flex;
}

.disbled {
  pointer-events: none;
  color: gray;
}

.approve-active {
  width: 29px;
  height: 29px;
  background-image: url('../../../../assets/svgs/approve.svg');
}

.approve-disabled {
  width: 29px;
  height: 29px;
  pointer-events: none;
  background-image: url('../../../../assets/svgs/disable-approve.svg');
}

.red-color {
  color: #FF475D;
  padding-left: 15px;
}

.circle-loader {
  width: 18px;
  height: 18px;
  border: 5px dotted lightgray;
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
  margin: 10px auto 0 auto;
  display: block;     
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .pwa-margin-top {
    margin-top: 14px;
  }

.low-width {
  width: 70%;
}
}