<div class="pwa-margin-top translation-wrapper">
  <!-- Floating Label (outside the green box but pinned to top-left) -->
  <label class="translation-label">
    <span class="important-text"> Review the {{tabType}} translated in
      <b>{{ hwStateData?.language }}</b></span>
  </label>

  <!-- Green Box -->
  <div *ngIf="tabResponses[tabType]; else loading" class="translation-box">
    <div class="translation-content">
      <span> {{ tabResponses[tabType]?.translated_text }}</span>
    </div>

    <!-- Button Group pinned bottom-right -->
    <div class="button-group">
      <button type="button" class="reject-btn" (click)="onReject()" data-test-id="btnOnReject">
        <img src="assets/svgs/reject.svg" alt="" />
      </button>
      <button type="button" class="approve-btn" (click)="onApprove()" data-test-id="btnOnApprove">
        <img src="assets/svgs/approve.svg" alt="" />
      </button>
      <button type="button" class="retry-btn" (click)="onRetry()" data-test-id="btnOnRetry">
        <img src="assets/svgs/retry.svg" alt="" />
      </button>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Loading {{ tabType }} data...</p>
</ng-template>